@import "tailwindcss";

@theme {
    --color-primary: #080d0b;
    --color-primary-light: rgba(8, 13, 11, 0.6);
    --color-text: #c7c7c7;
}

html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family:
        system-ui,
        -apple-system,
        sans-serif;
}

section {
    scroll-snap-align: start;
    scroll-snap-stop: always;
}
