---
import VolumeButton from "./VolumeButton.astro";
import LanguageButton from "./LanguageButton.astro";
---

<header
    class="fixed top-0 left-0 right-0 h-20 z-50 flex bg-[#080D0B]/60 backdrop-blur-xl items-center justify-between px-6 py-4"
>
    {/* Avengers Logo */}
    <div class="flex items-center gap-4">
        <img src="/logo.png" alt="Avengers Doomsday" class="h-12 w-auto" />
    </div>

    <div
        class="flex items-center gap-4 relative [&>button]:bg-[#3B6013]/20 [&>button]:border [&>button]:border-[#2F4027]/75 [&>button]:rounded-full [&>button]:h-12 [&>button]:flex [&>button]:items-center [&>button]:justify-center"
        id="header-actions"
    >
        {/* Volume Button */}
        <VolumeButton />

        {/* Language Button */}
        <LanguageButton />
    </div>
</header>
