---
import Countdown from "./Countdown.astro";
---

<section
    class="relative min-h-screen flex flex-col items-center justify-center overflow-hidden"
    id="home"
>
    {/* Hero Background */}
    <div class="absolute inset-0 z-0">
        <img
            src="/public/backgrounds/hero_bg.jpg"
            alt="Hero Background"
            class="w-full h-full object-cover scale-250 -translate-y-16"
        />
        <div class="absolute inset-0 bg-black/50"></div>
    </div>

    {/* Countdown */}
    <Countdown />
</section>
