---
import "../styles/global.css";
import Header from "../components/Header.astro";

interface Props {
    lang?: "en" | "es";
}

const { lang = "en" } = Astro.props;
---

<!doctype html>
<html lang={lang}>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="robots" content="noindex" />
        <meta
            name="description"
            content="Avengers Doomsday countdown and trailers"
        />
        <meta name="robots" content="index, follow" />
        <meta
            name="google-site-verification"
            content="vCb9KmJWnA0K94t1UFwT0RN6NgcC7vkag-gyFiruiOk"
        />
        <title>Avengers Doomsday</title>
        <link rel="icon" type="image/png" href="/icon.ico" />
    </head>
    <body class="bg-black text-white">
        <Header lang={lang} />
        <slot />
    </body>
</html>
